@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<PageTitle>SDN INPIRES TANJUNG RIA</PageTitle>
<RadzenLayout >
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
          <div style="display:flex; justify-content:space-between; width:100%; margin-right:20px">
                <RadzenLabel />
                <div style="display:flex; margin-right:20px; align-items:center">
                    <LoginDisplay />
                </div>
          </div>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="sidebar1Expanded">
       <NavMenu/>
    </RadzenSidebar>
    <RadzenBody >
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter Style="padding:5px">
       <div style="display:flex; align-items:center">
           <img src="/tutwuri.png" style="width:40px"/>
           <h6>SDN INPRES TANJUNG RIA - JAYAPURA</h6>
       </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}
