<div class="top-row ps-3 navbar navbar-dark" style="height:auto">
    <div class="container-fluid">
        <div style="display:flex;justify-content:center">
            <img src="/tutwuri.png" style="width:50%" />
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Path="/" Text="Home" Icon="home" />
            <RadzenPanelMenuItem Path="/persyaratan" Text="Persyaratan" Icon="account_box" />
            <RadzenPanelMenuItem Path="/informasi" Text="Informasi/Pengumuman" Icon="account_box" />
            <RadzenPanelMenuItem Path="/antrian" Text="antrian" Icon="account_box" />
            <RadzenPanelMenuItem Path="/calon" Text="Calon Siswa" Icon="account_box" />
            <RadzenPanelMenuItem Text="Laporan" Icon="report">
                <RadzenPanelMenuItem Path="/laporan/penerimaan" Text="Penerimaan" Icon="none" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="/users" Text="Users" Icon="account_box" />
        </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
