@inject DialogService dialogService
@inject IAntrianZonasiService persyaratanService
@inject NotificationService NotificationService

<RadzenTemplateForm TItem="AntrianZonasi" Data=@Model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <RadzenFieldset >
        <RadzenStack Gap="1rem">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="3">
                    <RadzenLabel Text="Zonasi" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="9">
                    <RadzenTextBox @bind-Value="Model.Nama" Placeholder="Keterangan" Style="width: 100%;" Name="zona" />
                    <RadzenLengthValidator Component="zona" Min="1" Text="Tidak Boleh Kosong" Popup=true Style="position: relative" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="3">
                    <RadzenLabel Text="Mulai" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="9">
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="Model.Mulai" Name="mulai" />
                    <RadzenRequiredValidator Component="mulai" Min="1" Text="Tidak Boleh Kosong" Popup=true Style="position: relative" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="3">
                    <RadzenLabel Text="Berakhir" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="9">
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="Model.Akhir" Name="akhir" />
                    <RadzenCompareValidator Value=@Model.Mulai Component="akhir" Operator="CompareOperator.GreaterThan"
                    Text="Tanggal Berakhir Harus Lebih besar" Popup=true Style="position: relative" />
                </RadzenColumn>
            </RadzenRow>
        </RadzenStack>
    </RadzenFieldset>
    <div style="text-align:right; margin-top:20px">
        <RadzenButton Text="Simpan" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" />
        <RadzenButton Click=@(()=> dialogService.Close(false)) Text="Batal" ButtonStyle="ButtonStyle.Warning" />
    </div>

</RadzenTemplateForm>

@code {

    [Parameter]
    public AntrianZonasi Model { get; set; }

    async Task OnSubmit(AntrianZonasi model)
    {
        try
        {
            if (Model.Id <= 0)
            {
                Model = await persyaratanService.Post(model);
            }
            else
            {
                Model = await persyaratanService.Put(Model);
                if (Model is null)
                    throw new SystemException("Data Tidak Tersimpan !");
            }

            NotificationService.Notify(new NotificationMessage { Summary = "Success", Detail = "Berhasil !", Severity = NotificationSeverity.Success, Duration = 3000 });
            dialogService.Close(Model);
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage { Summary = "Error", Detail = ex.Message, Severity = NotificationSeverity.Error, Duration = 3000 });
        }
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }

    async Task SaveAction()
    {


    }

}
