@page "/"

<PageTitle>Index</PageTitle>
<RadzenRow Gap="1rem" Style="padding:20px">
    <RadzenColumn>
        <RadzenCard class="rz-background-color-primary">
            <div style="display:flex;flex-direction:column">
                <RadzenLabel class="rz-color-base-300" Text="Pendaftar" Style="font-size:20px"></RadzenLabel>
                <div style="width:100%; text-align:right">
                    <RadzenLabel class="align-text-bottom rz-color-base-300" Text="150" Style="font-size:50px"></RadzenLabel>
                </div>
            </div>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard class="rz-background-color-warning">
            <div style="display:flex;flex-direction:column">
                <RadzenLabel class="rz-color-base-100" Text="Laki-Laki" Style="font-size:20px"></RadzenLabel>
                <div style="width:100%; text-align:right">
                    <RadzenLabel class="align-text-bottom rz-color-base-300" Text="150" Style="font-size:50px"></RadzenLabel>
                </div>
            </div>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard class="rz-background-color-success">
            <div style="display:flex;flex-direction:column">
                <RadzenLabel class="rz-color-base-300" Text="Perempuan" Style="font-size:20px"></RadzenLabel>
                <div style="width:100%; text-align:center">
                    <RadzenLabel class="align-text-bottom rz-color-base-300" Text="150" Style="font-size:50px"></RadzenLabel>
                </div>
            </div>
        </RadzenCard>
    </RadzenColumn>

</RadzenRow>
<RadzenRow Style="padding:20px">
    <RadzenColumn>
        <RadzenCard class="rz-background-color-info">
            <div style="display:flex;flex-direction:column">
                <RadzenLabel class="rz-color-base-300" Text="Total Lulus" Style="font-size:20px"></RadzenLabel>
                <div style="width:100%; height:40vh; display:flex; justify-content:center; align-items:center">
                    <RadzenLabel class="align-text-bottom rz-color-base-300" Text="150" Style="font-size:100px"></RadzenLabel>
                </div>
            </div>
        </RadzenCard>
    </RadzenColumn>

</RadzenRow>